* {
  padding: 0;
  margin: 0;
}

.btn {
  padding: 16px 20px;
}

.btn-yellow {
  background-color: #fdd671;
  border-width: 2px;
  font-weight: 700;
}

.btn-primary {
  background-color: #343434;
  border-width: 2px;
  font-weight: 700;
}
