@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-jajanWarning: 253 214 113;
    --color-jajanDanger: 250 62 62;
    --color-jajanDanger2: 234 58 96;
    --color-jajanDark: 33 33 33;
    --color-jajanDark2: 66 66 66;
  }
}

* {
  font-family: 'Poppins', sans-serif;
}

.hide-scroll-bar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.hide-scroll-bar::-webkit-scrollbar {
  display: none;
}